body {
    background-color: #acacac;
    margin: 2px white;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}
#a0d2eb
#494d5f
#e5eaf5
#845bb3
#d0bdf4
strong{color: rgb(94, 46, 182)
}
header {
    border-bottom: solid 2px #772ccc;
    padding: 20px;
    font-size: px;
    color: #d0bdf4;
}
h1 {color: #e5eaf5;
    text-align: center
}
h2 {color: #322c44;
    text-align: center
}
nav a{color:#2d1e49;
    text-align: center
}
li {color: #6d29db;
    text-align: left;
    padding: 1.5%
}
p {color: #e5eaf5;
    text-align: center;
    font-size: large;
    padding: 5%;
